:80 {
    root * /usr/share/caddy
    encode zstd gzip

    @api path /api/* /graphql /health
    reverse_proxy @api http://api:8443

    @vuln path /vuln*
    reverse_proxy @vuln http://vuln-go:8080

    file_server
}
